<!DOCTYPE html>
  <html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trivia App</title>
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='triviaStyles.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
      
    </head>
    <body>

      <h1>Political Trivia!</h1>
        <div class="container">
        <h1>Welcome to the Trivia App</h1>
        <ul id="question-list">
            <!-- Questions will be loaded here -->
        </ul>
        <div id="question-container" style="display:none;">
            <h2 id="question-text"></h2>
            <form id="question-form">
                <div id="options-container"></div>
                <input type="submit" value="Submit">
            </form>
            <p id="feedback" style="display:none;"></p>
            <a href="#" id="back-link" style="display:none;">Back to Home</a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='triviaScript.js') }}"></script>

    </body>
  </html> 
