<!--General Styles-->

body {
  background-color: red;
}

<!--Dropdown menu-->

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.controlled::after {
    
}

#toggle:checked ~ .controlled::after {
    display: block;
}

label {
    background: #A5D6A7;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.visually-hidden {
    position: absolute;
    left: -100vw;
    
    /* Note, you may want to position the checkbox over top the label and set the opacity to zero instead. It can be better for accessibilty on some touch devices for discoverability. */
}
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

<!--Candidate Summary-->

form {
    display: flex;
    justify-content: center;
    margin: 20px;
}

input {
    width: 300px;
    padding: 10px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
}

#response {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2em;
}
